.*history
.*.swp
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmt
*.cmti
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.s
*.byte
*.top
.depend
slow_tests.*
quick_tests.*
perf.data*
gmon.out
core
*.opt
BUGS
TODO
*.db
*.html
*.deb
*.tgz
autom4te.cache
config.status
META
Makefile
opam
*~
.DS_Store
.z3-trace
*.trace
tmp
*.xcodeproj
ber/IntReprOCaml.ml
ber/IntRepr.ml
*.gch
examples/example.cc
examples/example.ml
examples/rowbinary2sexpr.*.out
examples/rowbinary2sexpr.cc
examples/rowbinary2sexpr.exe
examples/rowbinary2sexpr.ml
examples/i32s.csv
src/dessserc
src/DessserCompilConfig.ml
src/cpp_tests
testdb-dump
testdb-load
testdb_dump.ml
testdb_load.ml
tests/json/not-an-object
tests/json/not_an_object.ml
tests/json/not-an-object.cc
tests/json/nullable-array.cc
tests/json/nullable-array
tests/json/nullable_array.ml
tests/json/nullable_array.cc
tests/json/simple-object
tests/json/simple_object.ml
tests/json/simple-object.cc
tests/json/float
tests/json/float.cc
tests/json/float.ml

