.*history
.*.swp
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmt
*.cmti
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.s
*.byte
*.top
.depend
all_tests.*
perf.data*
gmon.out
core
*.opt
BUGS
TODO
*.db
*.html
*.deb
*.tgz
autom4te.cache
config.status
configure
META
Makefile
opam
*~
.DS_Store
.z3-trace
*.trace
tmp
*.xcodeproj
src/IntReprOCaml.ml
src/IntRepr.ml
