.*history
.*.swp
*.gz
oUnit-anon.cache
*.log
*.cmo
*.cma
*.cmx
*.cmi
*.cmt
*.cmti
*.cmxa
*.cmxs
*.a
*.annot
*.o
*.s
*.byte
*.top
.depend
slow_tests.*
quick_tests.*
perf.data*
gmon.out
core
*.opt
BUGS
TODO
*.db
*.html
*.deb
*.tgz
autom4te.cache
config.status
META
Makefile
opam
*~
.DS_Store
.z3-trace
*.trace
tmp
*.xcodeproj
ber/IntReprOCaml.ml
ber/IntRepr.ml
*.gch
examples/example.cc
examples/example.ml
examples/rowbinary2sexpr.*.out
examples/rowbinary2sexpr.cc
examples/rowbinary2sexpr.exe
examples/rowbinary2sexpr.ml
examples/rowbinary2sexpr.h
examples/rowbinary2sexpr.x
examples/i32s.csv
src/dessserc
src/DessserCompilConfig.ml
src/cpp_tests
testdb-dump
testdb-load
testdb_dump.ml
testdb_load.ml
tests/json/*.cc
tests/json/*.ml
tests/json/not-an-object
tests/json/nullable-array
tests/json/simple-object
tests/json/float
tests/json/empty-object
tests/json/string
tests/json/set
tests/json/cidr
tests/json/cidr2
tests/json/enum
tests/json/defaults
tests/json/cidr.h
tests/json/cidr2.h
tests/json/defaults.h
tests/json/empty-object.h
tests/json/empty_object
tests/json/enum.h
tests/json/float.h
tests/json/not-an-object.h
tests/json/not_an_object
tests/json/nullable-array.h
tests/json/nullable_array
tests/json/set.h
tests/json/simple-object.h
tests/json/simple_object
tests/json/string.h
*.dSYM
src/all_tests.ml
testdb_dump
testdb_load
